
%firstLastCommons {
    position: relative;
    margin: 0px 15px;
    &::after{
        content: '';
        border: 2px solid white;
        position: absolute;
        width: 20px;
        height: 20px;
        right: calc(50% - 10px);
        top: calc(50% - 9px);
        border-radius: 100%;
    }
}
.paginator{

    .page-item{

        &.disabled{
            opacity: .5;
        }
        
        .page-link{
            background-color: transparent;
            border: none;
            color: white;
        }

        &.active .page-link{
            background-color: transparent;
            border: none;
            color: white;
            font-weight: bold;
        }

        &:first-child{
            @extend %firstLastCommons;
            margin-right: 15px;
        }
        
        &:last-child{
            @extend %firstLastCommons;
            margin-left: 15px;
        }
    }
}