
$green-color: #6CD95D;

%common-bar {
    &:after, &:before{
        position: absolute;
        content: "";
        width: calc(1.25rem + 25px);
        height: 5px;
        background-color: white;
    }
}

.drop-container{
    display: flex;
    justify-content: center;

    .drop{
        width: 40px;
        height: 40px;
        background-color: white;
        position: relative;
        border-radius: 100%;
        color: #6A6A6A;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0px 2.5rem;

        &.active{
            background-color: $green-color;
            color: white;
            font-weight: bold;

            &:before, &:after{  background-color: $green-color; }
        }

        @extend %common-bar;

        &:after{ left: 100%;  }
        &:before{ right: 100%;  }

        &:first-child{
            margin-left: 0px;
            &::before{ display: none; }
        }

        &:last-child{
            margin-right: 0px;
            &::after{ display: none; }
        }
    }
}